body{
    background-color:grey;
}
h1{
border-radius: 20px;
  display: grid;
  place-items: center;
  width: auto;
  height: 50px;
  background-color: white;
  margin: auto;
}
#div0{
    display: grid;
    height: 15px;
    width: 500px;
    border: 15px;
    background-color: grey; 
    margin: auto;
}

#div1{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    height: 20px;
}

#div2{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    display: grid;
    place-items: center;
    margin: auto;
    background-image: url(https://s7g10.scene7.com/is/image/ktm/MY24%20KTM%201390%20SUPER%20DUKE%20R_EVO-4?wid=1000&dpr=off);
    background-size: cover;
    background-position: center;
    }
#div3{
    display: grid;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    font-size: 15px;
    height: 40px;
}
#div4{
    display: grid;
    height: 30px;
    width: 500px;
    border: 15px;
    background-color: grey; 
    margin: auto;}

#div5{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    height: 20px;
    }
#div6{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    display: grid;
    place-items: center;
    margin: auto;
    background-image: url(https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2020/02/ducati-panigale-v4-superleggera-2020-1864701.jpg?tf=3840x);
    background-size: cover;
    background-position: center;
}
#div7{
    display: grid;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    font-size: 15px;
    height: 40px;
}

#div8{
    display: grid;
    height: 30px;
    width: 500px;
    border: 15px;
    background-color:grey; 
    margin: auto;
}


#div9{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    height: 20px;

       }
#div10 {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    display: grid;
    place-items: center;
    margin: auto;
    background-image: url(https://preview.redd.it/kr7vi72rt4ea1.jpg?auto=webp&s=0a2f2c9de4bf70f4a77e03a5126864f712b66f5c);
    background-size: cover;
    background-position: center;
}
#div11{
    display: grid;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    font-size: 15px;
    height: 40px;
}

.box {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px; 
    height: 20px;
}
.color_date {
    color: grey;
}